.img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 0.7rem;
}

.title,
.id,
.color {
  margin: 0.5rem;
  color: var(--secondary-text-color);
}

.title {
  color: var(--text-color);
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  position: relative;
}

.product-container > .product-information {
  margin: 0 1rem 0 0;
}

.product-total {
  display: grid;
  place-items: center;
}

.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  background: none;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  margin: 0 1rem;
}

.btn-delete {
  font-size: 1.2rem;
}
