.img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 0.7rem;
}

.title,
.id,
.color {
  margin: 0.5rem;
  color: var(--secondary-text-color);
}

.title {
  color: var(--text-color);
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  position: relative;
}

@media (max-width: 414px) {
  .product-container:nth-child(2) .product-information {
    flex: 0 0 65%;
  }
}

.product-information {
  flex: 0 0 40%;
}

.product-container > div:not(:last-child) {
  margin: 0 1rem 0 0;
}

.product-container > div:not(:first-child) {
  flex: 0 0 20%;
}

.product-total {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-price p:nth-child(1),
.product-quantity p:nth-child(1),
.product-total p:nth-child(1) {
  font-weight: 500;
}

.quantity {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  background: none;
  border: none;
  font-size: 1.7rem;
  cursor: pointer;
  margin: 0 1rem;
}

.btn-delete {
  font-size: 1.5rem;
  background: rgb(20, 20, 20);
  color: white;
  border: 2px solid black;
  display: grid;
  border-radius: 10px;
}
