:root {
  --second-column-bg-color: #f9e7e4;
  --secondary-text-color: #a2a09e;
  --text-color: #0e0d0e;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
